# .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/

# Node
node_modules/
dist/
build/
.vite/

# IDE
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.log
